body {
  background-image: linear-gradient(135deg, #5984d5, #2837a6, #0e1485, #0e0b40);
  animation: gradient 10s ease infinite;

  font-family: "Open Sans", sans-serif;
  color: #333333;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.box-form {
  margin: 10vh auto;
  width: 60vw;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex: 1 1 100%;
  align-items: stretch;
  justify-content: space-between;
  box-shadow: 0 0 20px 6px #4a67ccd4;
  height: 100vh;
}

a {
  text-decoration: none;
}

.box-form div {
  height: auto;
}

.box-form .left {
  background-image: url("badmintonc1.jpg");
}

.box-form .left {
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.box-form .left .overlay {
  padding: 30px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.box-form .left .overlay h1 {
  font-size: 3vmax;
  line-height: 1;
  font-weight: 900;
  margin-top: 45vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.box-form .right {
  padding-left: 4vw;
  overflow: scroll;
  width: 50vw;
  height: 100vh;
  padding-right: 4vw;
  padding-top: 0vh;
}

.box-form .right h5 {
  font-size: 2vmax;
  line-height: 0;
  text-align: center;
}

.box-form .right p {
  font-size: 2vh;
  color: #a0a3ab;
}

.box-form .right .inputs {
  overflow: hidden;
}

.box-form .right input {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid #b0b3b9;
}

label {
  display: flex;
  position: relative;
}

.box-form .right button {
  color: #fff;
  font-size: 16px;
  padding: 6px 25px;
  border-radius: 50px;
  display: inline-block;
  border: 0;
  outline: 0;
  box-shadow: 0px 4px 20px 0px #050608a6;
  background-image: linear-gradient(135deg, #e7884c 10%, #e03a2b 100%);
  cursor: pointer;
}

@media (max-width: 980px) {
  .box-form {
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
    height: 100%;
  }
  .box-form .right {
    width: 50vw;
    height: 90vh;
  }
  .box-form .right button {
    color: #fff;
    font-size: 16px;
    padding: 6px 25px;
    border-radius: 50px;
    display: inline-block;
    border: 0;
    outline: 0;
    box-shadow: 0px 4px 20px 0px #050608a6;
    background-image: linear-gradient(135deg, #e7884c 10%, #e03a2b 100%);
    cursor: pointer;
  }
}

@media (max-width: 780px) {
  .box-form {
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
    height: 100%;
  }

  .box-form .right {
    width: 50vw;
    height: 70vh;
  }

  .box-form .right button {
    color: #fff;
    font-size: 16px;
    padding: 6px 25px;
    border-radius: 50px;
    display: inline-block;
    border: 0;
    outline: 0;
    box-shadow: 0px 4px 20px 0px #050608a6;
    background-image: linear-gradient(135deg, #e7884c 10%, #e03a2b 100%);
    cursor: pointer;
  }
}
